page-check-in {
    background-image: url('../../assets/imgs/Painted-ChatCed-Checkin.png');
    background-size: 100%;
    background-repeat: no-repeat;
    ion-content{
        .check_in{
            height: 60%;
            background-image: url("../../assets/imgs/Painted_ChatCed_Checkin.png");
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }
}
