page-view-event {
    .scroll-content{
        background-color: #2794D2; 
     } 
     .EventBody img{
        border-radius: 50px;
     }
     .EventBody ion-item{
        background-color: #2794D2; 
     }
}
